.main {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.form {
  background-color: white;
  border-radius: 20px;
  width: 50%;
}
.title {
}

.forms {
  margin-top: 6;
}

.labels {
  margin-right: 5px;
}
.error {
  color: red;
  font-size: small;
  padding: 0;
  margin: 0;
}

.semiError {
  color: orange;
  font-size: small;
  padding: 0;
  margin: 0;
}

.temperamentsDiv {
  display: inline-block;
  background-color: #864d07;
  padding: 8px;
  width: 200px;
  color: #ffffff;
  text-align: center;
  border: 2px double #cccccc;
  border-radius: 10px;
  font-size: 15px;
}
