.main {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.form {
  background-color: white;
  border-radius: 20px;
  width: 50%;
}
.title {
}

.forms {
  margin-top: 6;
}

.labels {
  margin-right: 5px;
}
.error {
  color: red;
  font-size: small;
  padding: 0;
  margin: 0;
}
