.container {
  display: flex;
  align-content: center;
  padding-right: 40px;
}

.input {
  height: 1.8em;
  width: 12em;
  margin-right: 2px;
  color: rgba(0, 0, 0, 0.8);
  font-family: cursive;
  font-size: 1em;
  border: 2px solid rgb(200, 200, 200);
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  border-color: rgba(154, 112, 84, 0.9);
}

.button {
  position: relative;
  padding: 6px 20px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}

.button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 4px;
  background: rgba(154, 112, 84, 0.9);
  width: 90px;
  height: 35px;
  transition: all 0.4s ease;
}

.button span {
  position: relative;
  font-family: cursive;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
}

.button:hover:before {
  width: 95%;
  background: rgb(222, 208, 174);
}

.button:active {
  transform: scale(0.8);
}
