html {
  background: url("../../images/dogsBackground.webp") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4em;
  justify-content: center;
  text-align: center;
}

h1 {
  color: #151414;
  font-family: "Raleway", sans-serif;
  font-size: 4vw; /* Use viewport units for font size */
  font-weight: 800;
  line-height: 1.2;
  margin: 0 0 1.5rem; /* Use rem for margin */
  text-align: center;
  text-transform: uppercase;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0 0; /* Use rem for margin */
  padding: 1rem 2rem; /* Use rem for padding */
  font-size: 1.5rem; /* Use rem for font size */
  background-color: #fcfcfd;
  border-radius: 4px;
  border: none;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  color: #36395a;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}
.contactInfo {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line on small screens */
  justify-content: center;
}

.contactInfo > * {
  margin: 1rem; /* Use rem for margin */
  font-size: 2vw; /* Use viewport units for font size */
  transition: transform 0.2s ease-in-out;
}

.contactInfo > *:hover {
  transform: scale(1.2);
}

@media screen and (max-width: 768px) {
  .contactInfo {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contactInfo > * {
    margin: 32px;
  }
}

@media screen and (max-width: 480px) {
  .contactInfo > * {
    font-size: 16px;
    margin: 16px;
  }
}
