.global {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img {
  max-width: 100%;
  height: auto;
  margin: 0 0 1em 0;
  border: 1em solid rgba(245, 245, 245, 0.6);
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
}

.dataSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2em 0;
  padding: 2em;
  border: 1em solid rgba(154, 112, 84, 0.9);
  border-radius: 1em;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.7);
  font-family: cursive;
  color: #000000e2;
}

.leftDiv,
.rightDiv {
  width: 100%;
}

@media (min-width: 601px) {
  .global {
    flex-direction: row;
    justify-content: center;
  }
  .leftDiv {
    width: 40%;
    margin: 0 1em 0 0;
  }
  .rightDiv {
    width: 60%;
    margin: 0 0 0 1em;
  }
}

@media (min-width: 901px) {
  .dataSection {
    flex-direction: row;
  }
  .leftDiv {
    width: 50%;
    margin: 0 1em 0 0;
  }
  .rightDiv {
    width: 50%;
    margin: 0 0 0 1em;
  }
}
