/* .global {
  @media screen and(max-width: 950px) {
    display: flex;
    flex-direction: column;
  }
} */

.img {
  width: 600px;
  height: 450px;
  margin-right: 2em;
  border: 25px solid rgba(245, 245, 245, 0.6);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.p {
  font-size: 1.4em;
}

.dataSection {
  display: flex;
  border: 20px solid rgba(154, 112, 84, 0.9);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  font-family: cursive;
  color: #000000e2;
}

.leftDiv {
  float: left;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.rightDiv {
  float: right;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
}

@media (max-width: 900px) {
  /* … */
  .dataSection {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
  }
  .img {
    width: 450px;
    height: 300px;
  }
  .h1class {
    font-size: 30px;
  }
}
